.formContainer {
  display: flex;
  flex-direction: column;
  width: 641px;
  padding: 44px;
  border: 1px solid var(--gray-light);
  border-radius: 16px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--main-black);
  margin-bottom: 8px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
  margin-bottom: 24px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.fieldWrapper {
  position: relative;
}

.input {
  width: 527px;
  padding: 18px;
  border-radius: 12px;
  border: 1px solid transparent;
  background-color: var(--white);
  font-size: 16px;
  outline: none;
  transition: border-color var(--transition);
}
.errorInput {
  border-color: var(--error) !important;
}

.error {
  position: absolute;
  left: 25px;
  top: 58px;
  color: var(--error);
  font-size: 10px;
}

.btnSend {
  margin-top: 24px;
}
