.swiperWrapper {
    display: flex;
    flex-direction: column;
    gap: 27px;
    flex: 0 0 638px;
    min-width: 0;

}

.infoWraper {
    flex: 1;
}

.mainSwiper {
    width: 638px;
    height: 505px;
    border-radius: 17px;
}

.mainSwiper :global(.swiper-button-next),
.mainSwiper :global(.swiper-button-prev) {
    color: var(--gray-light);
}


.thumbsSwiper {

    width: 100%;
}

.thumbImg{
    border-radius: 16px;
    object-fit: cover;
}